<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Registracija
        </h1>
         
        <% if(typeof errors!='undefined') { %> 
          <% errors.forEach(  function(error) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%= error.msg %> 
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>   
          <% }); %> 
      <% } %> 
        <!-- NE ZABORAVI EJS-->
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Ime</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Unesite ime..."
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Unesite email..."
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Šifra</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Unesite šifru"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Potvrdi šifru</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Potvrdi šifru"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registruj se
          </button>
        </form>
        <p class="lead mt-4">Da li imate nalog? <a href="/users/login">Ulogujte se</a></p>
      </div>
    </div>
  </div>